*, *::before, *::after{
    box-sizing:border-box;
}
@keyframes anim1{
    from {
        top:-600px;
    }
    to {
        top:0;
    }
}
body{
    margin:0;
    display:flex;
    flex-flow:column wrap;
    position: relative;
    animation-name:anim1;
    animation-duration:1.5s;
}
header{
    color:#01ab5d;
    font-weight:bold;
    font-size:4rem;
    font-family: 'Neuton', serif;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px;
    border-bottom:1px solid rgba(1, 171, 93, 0.2);
}
main{
    width:100%;
    display:flex;
    flex-flow:column wrap;
}
project{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    padding:.5rem 2rem;
    border-bottom:1px solid rgba(1, 171, 93, 0.2);
}
name{
    flex:0 0 50%;
}
a{
    text-decoration:none;
    font-family:'baloo 2', cursive;
    color:orangered;
    font-size:3rem;
    font-weight:bold;
}
a:hover{
    text-decoration:none;
    color:#01ab5d;
}
description{
    flex:0 0 50%;
    font-family: 'Neuton', serif;
    color:#01ab5d;
    font-size:1.5rem;
}

/*---------------Responsiveness--------------------*/

@media(max-width:800px){
    header{
        margin-bottom:10px;
        font-size:3rem;
    }
    project{
        flex-flow:column wrap;
        margin-bottom:10px;
        align-items:flex-start;
        border:1px solid rgba(1, 171, 93, 0.2);
    }
    name{
        flex:0 0 auto;
    }
    a{
        font-size:1.6rem;
    }
    description{
        flex:0 0 auto;
        font-size:1rem;
    }
}
